PORT=8080
DEV_MODE=development
MONGO_URL=mongodb://127.0.0.1:27017/nodejs-secure-rest-api
JWT_SECRET=change_me_please
MAX_USER_STORAGE_MB=200
SEED_ADMIN_ON_START=false
ADMIN_NAME=System Admin
ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=Admin@123456
ADMIN_PHONE=0900000000
ADMIN_ADDRESS=HCMC
